<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pending Requests</ion-title>
    </ion-toolbar>
    <ion-searchbar [color]="'light'" [(ngModel)]="searchText"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-grid [fixed]="true">
        <ion-row>
            <ion-col [sizeMd]="4" [offsetMd]="4">
                <ion-card>
                    <ion-card-content>
                        <form
                            [formGroup]="dealsForm"
                            (submit)="getActiveDeals(dealsForm)"
                        >
                            <ion-item>
                                <ion-label>Start Date</ion-label>
                                <ion-datetime
                                    placeholder="Select Date"
                                    [formControlName]="'startDate'"
                                    [max]="today"
                                    required
                                ></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <ion-label>End Date</ion-label>
                                <ion-datetime
                                    placeholder="Select Date"
                                    [formControlName]="'endDate'"
                                    required
                                ></ion-datetime>
                            </ion-item>
                            <ion-button
                                [expand]="'full'"
                                type="submit"
                                [disabled]="dealsForm.invalid"
                            >
                                Search Deals<ion-spinner
                                    *ngIf="spinner"
                                ></ion-spinner>
                            </ion-button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <div *ngIf="found">
            <ion-row>
                <ion-col [sizeMd]="4" [offsetMd]="4">
                    <ion-list>
                        <ion-item
                            *ngFor="let deal of deals| idFilter:searchText;"
                            (click)="viewTransaction(deal)"
                        >
                            <ion-label class="eligibility">
                                <h2>
                                    {{deal.ClientName}} [{{deal.ClientRefId}}]
                                </h2>
                                <h2>
                                    Amount:
                                    <ion-text [color]="'primary'"
                                        >{{deal.GrossAmount}}</ion-text
                                    >| Status:
                                    <ion-text [color]="'primary'"
                                        >{{deal.TransactionStatus}}</ion-text
                                    >
                                </h2>
                                <h2>{{deal.LoanType}}</h2>
                                <h2>{{deal.Tenor}} months</h2>
                                <h2>{{deal.StatusDate| date: 'medium'}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
