<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col [sizeMd]="4" [offsetMd]="4">
                <ion-card>
                    <ion-card-header
                        [color]="'primary'"
                        class="ion-text-center"
                    >
                        Change Password
                    </ion-card-header>
                    <ion-card-content>
                        <form
                            [formGroup]="changePasswordForm"
                            (submit)="changePassword(changePasswordForm)"
                        >
                            <ion-item class="ion-margin">
                                <ion-label [position]="'stacked'"
                                    >Current Password</ion-label
                                >
                                <ion-input
                                    id="oldPassword"
                                    formControlName="oldpass"
                                    required
                                >
                                </ion-input>
                            </ion-item>
                            <ion-item class="ion-margin">
                                <ion-label [position]="'stacked'"
                                    >New Password</ion-label
                                >
                                <ion-input
                                    id="newPassword"
                                    formControlName="newpass"
                                    required
                                >
                                </ion-input>
                            </ion-item>
                            <ion-button [expand]="'full'" type="submit"
                                >Change Password
                                <ion-spinner *ngIf="spinner"> </ion-spinner
                            ></ion-button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
